body {
  font-family: 'Open Sans', sans-serif;
  text-align: center;
}

h1, h2, h4, h5, h6 {
  font-family: 'Comfortaa', cursive;
}

h3 {
  font-family: 'Comfortaa', cursive;
  font-weight: bolder;
}

p {
  color: #8F8F8F;
}

/* Title Page */

@media (max-width: 1028px) {
  #title {
    text-align: center;
  }

  .title-image {
    position: static;
  }
}

.big-heading{
  font-family: 'Comfortaa', cursive;
  font-size: 3rem;
  line-height: 1.2;
  text-align: left;
}

.btn btn-dark {}

.btn btn-outline-secondary {}

.container-fluid {
  padding: 3% 15%;
}

.navbar {
  padding: 0 0 3rem;
}

.navbar-brand {
  font-size: 2.5rem;
  font-weight: bold;
}

.nav-item {
  padding: 0 15px;
}

.nav-link {
  font-size: 1.0rem;
  font-family:
}

.dl-btn {
  margin: 20px 15px 20px 0;
}

.title-img {
  width: 500px;
  padding-left: 50px;
  // transform: rotate(25deg);
}


#title {
  background-color: #ffa931;
  color: black;
}

/* Features */

#features {
  padding: 8% 10%;
}

.feature-box {
  padding: 5%;
}

.icon {
  color: #fecb89;
  margin-bottom: 20px;
}

.icon:hover {
  color: #ffa931;
}


/* Testimonial */

#testimonials {
  background-color: #ffa931;
}

.testimonial-img {
  width: 15%;
  border-radius: 100%;
  margin: 20px;
}

.carousel-item {
  padding: 7% 15%;
}

#press {
  background-color: #ffa931;
  padding-bottom: 3%;
}

.press-logo {
  width: 150px;
  padding: 20px 20px 50px;
}


/* Pricing Section */
#pricing {
  margin: 50px 5%;
}

.card {
  padding: 3% 2%;
}

.card-header{
  background-color: #fbe6d4;
}

.price-head{
  margin: 0;
}



/* CTA Section */
#cta {
  background-color: #ffa931;
  padding: 7% 15%;
}

.footer-slide {
  font-size: 2rem;
}

/* Footer */
#footer {
  padding: 3% 15% 1%;
}

.f-icon{
  padding: 10px 10px;

}
